.specificity {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section.specificity {
  @include desktop {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.specificity__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.specificity__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  text-align: center;
  @include tablet {
    text-align: left;
  }
  @include desktop {
    text-align: left;
  }
}
.specificity__subtitle-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.specificity__icon {
  display: flex;
  background-color: var(--second-accent-color);
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.specificity__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
    justify-content: flex-start;
    display: inline;
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}
