:root {
    --text-color: #757575;
    --title-color: #212121;
    --second-title-color: #ffffff;
    --accent-color: #2196f3;
    --second-accent-color: #f5f4fa;
    --first-bg-color: #ffffff;
    --sec-bg-color: #2f303a;
    --th-bg-color: #2f303a;
    --btn-hover-color: #188ce8;
    --icon-color: #afb1b8;
}